<div class="lorem-ipsum">
  orem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in turpis et sapien euismod laoreet sed sit amet dui.
  Curabitur volutpat ultricies libero ut commodo. Vestibulum at velit ut ligula varius cursus at et felis. Praesent
  lobortis, libero a vehicula ultrices, nisi eros rhoncus nunc, sed gravida nisl sem sit amet diam. Quisque in nunc in
  diam pulvinar ornare sit amet vitae leo. Nulla ut elit eget urna tempor ornare in sit amet arcu. Proin cursus
  pellentesque ligula, a ultrices nulla tincidunt auctor. Cras sapien quam, tincidunt a suscipit sed, lobortis tincidunt
  ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur vestibulum est
  nec sem tempus, sed volutpat purus vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>

<div class="topic">
  <div class="topic-title">
    Topic title
  </div>
  <div class="topic-body">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus asperiores quasi possimus optio excepturi id velit deleniti mollitia vel blanditiis harum ex quibusdam, sequi doloremque, nisi atque tenetur eligendi magni.
  </div>
</div>

<router-outlet></router-outlet>
