@import "../theme.less";

.lorem-ipsum {
  color: @brand-color;
  border: 1px solid @brand-color;
  .several-line-ellipsis(7);

  &:hover {
    color: red;
    cursor: default;
  }
}

.lorem-ipsum,
.topic .topic-body {
    font-size: @base-text-size;
}

.topic {
  margin-top: 1em;
  color: @topic-text-color;

  .topic-title {
    margin-bottom: 0.25em;
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
  }

  .topic-body {
    padding-inline-start: 2em;
  }
}

