<div class="page-wrapper flex flex-column">
    <div class="header-wrapper flex">
        <div class="header-title flex-fill-remaining" [innerText]="layoutService.headerTitle"></div>
        <button *ngIf="authenticationService.isAuthenticated" mat-icon-button color="primary" (click)="onLogoutClick()">
            <mat-icon>exit_to_app</mat-icon>
        </button>

    </div>
    <div class="menu-content-footer-wrapper flex flex-fill-remaining">
        <div class="menu">
            <aac-menu [routesClass]="CoreRoutes"></aac-menu>
        </div>
        <div class="content-footer-wrapper flex flex-column flex-fill-remaining">
            <div class="content flex-fill-remaining">
                <router-outlet></router-outlet>
            </div>
            <div class="footer">
                Footer
            </div>
        </div>
    </div>
</div>

